h1{
    color : #9e95ad;
    margin-top : 8px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
}

h2{
    color : #9e95ad;
    margin-top : 8px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
}

p{
    color : black;
    margin-top : 8px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Kanit', sans-serif;   
}

#titleNotif{
    color: black;
}
.notification-title{
    color:black;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
    font-family: 'Kanit', sans-serif; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}